/*============ CSS Reset ============*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/*===========Universal Styling============*/
@font-face {
  font-family: sketchzone;
  src: url("/sketchzone/Sketchzone.otf");
}


/*===========Home Page Styling============*/

/*===========Brewery Page Styling============*/
.brew {
  background-color: #c3ab8f;
  font-family: proxima-nova,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2a231e;
  font-size: 1.1em;
}

.brew main {
  background-color: #dfd1c1;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

.brewery {
  margin: 2%;
}

.brew header{
  background-image: url("images/wood-background.jpg");
  background-repeat: no-repeat;
  background-size: 1500px auto;
}

.logo{
  margin: 0 auto;
  display: block;
  max-width: 90%;
  padding-top: 50px;
}

.brew nav{
  background-color: #dfd1c1;
  border-top: #387203 solid 5px;
  border-bottom: #387203 solid 5px;
}

.brew nav ul{
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
}

.brew ul li{
  display: inline;
  list-style-type:none;
  font-size:1.2em;
  padding: 0 50px;
}

.brew ul li a{
  text-decoration: none;
  color:#2a231e;
}

.brew section,
#brewery-section{
  padding: 0 10px;
}

.brew h1{
  font-family: sketchzone, proxima nova, sans-serif;
  font-size: 2em;
  color:#387203;
  text-shadow:1px 1px #ffffff;
  padding:20px 0;
}

.brew h2,
.brew h3{
  font-family: 'La Belle Aurore', cursive;
}

.brew h2{
  font-size: 1.7em;
}

.brew h3{
  color:#387203;
  font-size: 3em;
}

#brewery-section form{
  padding: 20px 0 50px;
}

#brewery-section button{
  color: #ffffff;
  background-color: #387203;
  border-radius: 2px;
  padding: 5px;
}

#brewery-search{
  border: 2px solid;
  border-radius: 2px;
  padding: 5px;
}

#breweries-resp{
  background-color: #ffffff;
  max-width: 100%;
}

#breweries-resp h2{
  font-family: proxima-nova,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

#breweries-resp h3{
  font-family: proxima-nova,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

/*=============Media Queries==============*/
@media screen and (min-width: 768px) {
  .logo{
    max-width: 50%;
  }

}

@media screen and (min-width: 1200px) {


    /*Brew Page*/
    .brew{
      font-size: 1.1em;
    }

    .brew main{
      max-width: 60%;
    }

    .brew main section {
      padding: 0 70px;
    }

    .brew h1{
      font-size:3em;
    }
    
    .brew h2{
      font-size: 2em;
    }

    .brew h3{
      font-size: 4em;
    }

    .brew ul li{
      font-size:1.2em;
    }

    #breweries-resp h2{
      font-size: 1.5em;
    }

    #breweries-resp h3{
      font-size: 1.2em;
    }


}
