/*============ CSS Reset ============*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/*===========Universal Styling============*/
@font-face {
  font-family: sketchzone;
  src: url("/sketchzone/Sketchzone.otf");
}

/*===========Home Page Styling============*/

.logo {
  margin: 0 auto;
  display: block;
  max-width: 90%;
  padding-top: 50px;
}

.home {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 1.1em;
  padding: 10px;
  max-width: 70%;
  margin: 0 auto;
  
}

/* Nav Styling*/
nav {
  background-color: #dfd1c1;
  border-top: #387203 solid 5px;
  border-bottom: #387203 solid 5px;
  font-family: proxima-nova, sans-serif;
}
nav ul {
  max-width: 85%;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
}

.index-body ul li {
  display: inline;
  list-style-type: none;
  font-size: 1.2em;
  padding: 0 50px;
}

.index-body ul li a {
  text-decoration: none;
  color: #2a231e;
}

.home img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  padding: 10px;
}

.home button {
  color: #ffffff;
  background-color: #387203;
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  max-width: 50%;
  margin: 0 auto;
  display: block;
 
}


.home h1 {
  font-family: sketchzone, proxima nova, sans-serif;
  font-size: 2em;
  color: #387203;
  text-shadow: 1px 1px #ffffff;
  padding: 20px 0;
  text-align: center;
}

.home p {
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}


.index-body .hamburger-menu a{
  display:block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: #2a231e;
  text-decoration: none;
}

.index-body .hamburger-btn {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  cursor: pointer;
  color: #ffffff;
  background-color: #387203;
  border-radius: 2px;
}

.index-body .hamburger-menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c3ab8f;
  color: #2a231e;
  list-style: none;
  padding-top: 4rem;
}

.index-body .closeIcon {
  display: none;
}

.index-body .showMenu {
  transform: translateY(0);
}

/*===========Brewery Page Styling============*/
.brew {
  background-color: #c3ab8f;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2a231e;
  font-size: 1.1em;
}

.brew main {
  background-color: #dfd1c1;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

#brewery-section {
  display: flex;
  justify-content: space-evenly;
}
.side-by-side {
  width: 45%;
  text-align: left;
}

.brewery {
  margin: 2%;
}

.brew header {
  background-image: url("images/wood-background.jpg");
  background-repeat: no-repeat;
  background-size: 2000px auto;
}

.logo {
  margin: 0 auto;
  display: block;
  max-width: 90%;
  padding-top: 50px;
}

.brew .hamburger-menu a{
  display:block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: #2a231e;
  text-decoration: none;
}

.brew .hamburger-btn {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  cursor: pointer;
  color: #ffffff;
  background-color: #387203;
  border-radius: 2px;
}

.brew .hamburger-menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #c3ab8f;
  color: #2a231e;
  list-style: none;
  padding-top: 4rem;
}

.brew .closeIcon {
  display: none;
}

.brew .showMenu {
  transform: translateY(0);
}


.brew section,
#brewery-section {
  padding: 0 10px;
}

.brew h1 {
  font-family: sketchzone, proxima nova, sans-serif;
  font-size: 2em;
  color: #387203;
  text-shadow: 1px 1px #ffffff;
  padding: 20px 0;
}

.brew h2,
.brew h3 {
  font-family: "La Belle Aurore", cursive;
}

.brew h2 {
  font-size: 1.7em;
}

.brew h3 {
  color: #387203;
  font-size: 3em;
}

.brew form {
  padding: 20px 0 50px;
}

.brew form button {
  color: #ffffff;
  background-color: #387203;
  border-radius: 2px;
  padding: 5px;
}

#brewery-search {
  border: 2px solid;
  border-radius: 2px;
  padding: 5px;
}

#breweries-resp {
  background-color: #ffffff;
  max-width: 100%;
}

#breweries-resp h2,
#favorite-breweries h2 {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

#breweries-resp h3,
#favorite-breweries h3 {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
}

.brewery_title {
  display: flex;
  justify-content: space-between;
}

.star {
  position: relative;
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
  color: #eb6134;
  top: -13px;
}
.star:before {
  content: "\2606";
  position: absolute;
  visibility: visible;
}
.star:checked:before {
  content: "\2605";
  position: absolute;
}

.inline-container {
  display: flex;
}
/*=============Media Queries==============*/
@media screen and (min-width: 768px) {
  .logo {
    max-width: 50%;
  }
  
/* Home page*/
.hamburger-btn{
  display: none;
}

.index-body nav {
  background-color: #dfd1c1;
  border-top: #387203 solid 5px;
  border-bottom: #387203 solid 5px;
}

.index-body .hamburger-menu {
  all:unset;
  display:block;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
}

.index-body .hamburger-menu li{
  all:unset;
  display: inline;
  list-style-type: none;
  font-size: 1.2em;
  padding: 0 50px;
}

.index-body .hamburger-menu a {
  all:unset;
  text-decoration: none;
  color: #2a231e;
}  

  .brew nav {
    background-color: #dfd1c1;
    border-top: #387203 solid 5px;
    border-bottom: #387203 solid 5px;
  }
  
  .brew .hamburger-menu {
    all:unset;
    display:block;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
  }
  
  .brew nav .hamburger-menu li{
    all:unset;
    display: inline;
    list-style-type: none;
    font-size: 1.2em;
    padding: 0 50px;
  }
  
  .brew nav .hamburger-menu a {
    all:unset;
    text-decoration: none;
    color: #2a231e;
  }

}

@media screen and (min-width: 1200px) {
  /*Brew Page*/
  .brew {
    font-size: 1.1em;
  }

  .brew main {
    max-width: 60%;
  }

  .brew h1 {
    font-size: 3em;
  }

  .brew h2 {
    font-size: 2em;
  }

  .brew h3 {
    font-size: 4em;
  }

  .brew ul li {
    font-size: 1.2em;
  }

  #breweries-resp h2,
  #favorite-breweries h2 {
    font-size: 1.5em;
  }

  #breweries-resp h3,
  #favorite-breweries h3 {
    font-size: 1.2em;
  }
}

/*=============Contact Page==============*/

.contact {
  background-color: #c3ab8f;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #2a231e;
  font-size: 1.1em;
}

.contact main {
  background-color: #dfd1c1;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}
.contact header {
  background-image: url("images/wood-background.jpg");
  background-repeat: no-repeat;
  background-size: 1500px auto;
}

.logo {
  margin: 0 auto;
  display: block;
  max-width: 90%;
  padding-top: 50px;
}

.contact nav {
  background-color: #dfd1c1;
  border-top: #387203 solid 5px;
  border-bottom: #387203 solid 5px;
}

.contact nav ul {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
}

.contact ul li {
  display: inline;
  list-style-type: none;
  font-size: 1.2em;
  padding: 0 50px;
}

.contact ul li a {
  text-decoration: none;
  color: #2a231e;
}
.contact h1 {
  font-family: sketchzone, proxima nova, sans-serif;
  font-size: 2em;
  color: #387203;
  text-shadow: 1px 1px #ffffff;
  padding: 30px 0;
}
.contact h2,
.contact h3 {
  font-family: "La Belle Aurore", cursive;
}

.contact h2 {
  font-size: 2.7em;
}

.contact h3 {
  color: #387203;
  font-size: 4em;
}

.contact-form {
  padding: 150px;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;  
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical 
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}